<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260424683807-sb41f3ggg70u110np4soicjhiqrmig5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260424683807-sb41f3ggg70u110np4soicjhiqrmig5s</string>
	<key>API_KEY</key>
	<string>AIzaSyA9FIQLTwkeqS0MHiPbjJDc3IddM-UH52o</string>
	<key>GCM_SENDER_ID</key>
	<string>260424683807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatMe</string>
	<key>PROJECT_ID</key>
	<string>chat-me-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-me-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260424683807:ios:a159a341833087fd42202a</string>
	<key>DATABASE_URL</key>
	<string>https://chat-me-flutter.firebaseio.com</string>
</dict>
</plist>